.container {
    display: flex;                /* Habilitar Flexbox */
    justify-content: space-between; /* Espacio entre los divs */
    flex-wrap: wrap;             /* Permitir que los divs se ajusten en la misma línea */
    width: 100%;                  /* Ancho completo del contenedor */
    margin-bottom: 10px;         /* Espacio entre filas */
}

.full-width-container {
    width: 100%;                  /* Ancho completo para el contenedor de Div 3 */
    margin-bottom: 10px;         /* Espacio inferior */
   
}


/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;   /* Cambiar a columna en pantallas pequeñas */
    }
    .container > .mi-div {
        width: 100%;              /* Asegurar que todos los divs ocupen el ancho completo */
    }
}

/* Media query para pantallas mayores de 768px */
@media (min-width: 769px) {
    .row {
        display: flex;            /* Hacer que las filas sean flexibles */
        justify-content: space-between; /* Espacio entre divs */
        width: 100%;              /* Ancho completo para las filas */
    }
}



.mi-div {
    flex: 1;                     /* Hacer que los divs ocupen el mismo espacio */
    height: 100px;               /* Alto de cada div */
    padding: 20px;               /* Espacio interno */
    margin: 5px;                 /* Margen de 10px a todos los lados */
    border: none;                /* Sin borde */
}

.full-width {
    width: 100%;                 /* Ancho completo para Div 3 */
}

.green{
    background-color: green;     /* Color de fondo verde para Div 3 */
}

.orange {
    background-color: orange;    /* Color de fondo naranja para Div 1 y Div 2 */
}

.red {
    background-color: red;       /* Color de fondo rojo para Div 4, 5 y 6 */
}

.blue {
    background-color: blue;      /* Color de fondo azul para Div 7, 8, 9 y 10 */
}
