.container {
    display: flex;                /* Habilitar Flexbox */
    justify-content: space-between; /* Espacio entre los divs */
    flex-wrap: wrap;             /* Permitir que los divs se ajusten en la misma línea */
    width: 100%;                  /* Ancho completo del contenedor */
    margin-bottom: 10px;         /* Espacio entre filas */
}

.mi-div {
    flex: 1;                     /* Hacer que los divs ocupen el mismo espacio */
    height: 100px;               /* Alto de cada div */
    padding: 50px;               /* Espacio interno */
    margin: 5px;                 /* Margen de 10px a todos los lados */
}

.green {
    background-color: green;     /* Color de fondo verde para Div 3 */
}

.orange {
    background-color: orange;    /* Color de fondo naranja para Div 1 y Div 2 */
}

.red {
    background-color: red;       /* Color de fondo rojo para Div 4, 5 y 6 */
}

.blue {
    background-color: blue;      /* Color de fondo azul para Div 7, 8, 9 y 10 */
}

/* Media query para pantallas de 1080px o menos */
@media (max-width: 1080px) {
    .container {
        flex-direction: column;   /* Cambiar a columna en pantallas pequeñas */
    }

    .full-width-container {
        flex-direction: row;      /* Mantener los divs 7, 8, 9 y 10 en fila */
        flex-wrap: wrap;          /* Permitir que algunos divs se ajusten en la siguiente fila */
    }

    /* Para divs 9 y 10: Colocarlos en fila de dos */
    .full-width-container > .mi-div:nth-child(n+3) {
        width: 50%;               /* Hacer que los divs 9 y 10 ocupen el 48% del ancho */
       
    }
}

/* Media query para pantallas de 540px o menos */
@media (max-width: 540px) {
    .container, .full-width-container {
        flex-direction: column;   /* Poner todos los divs en columnas */
    }
    
    .container > .mi-div, .full-width-container > .mi-div {
        width: 100%;              /* Todos los divs ocupan el ancho completo */
    }
}
