* {
    box-sizing: border-box; /* Establece el box-sizing para todos los elementos */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
}

.cabecera {
    width: 100%;
    background-color: #66B257;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    top: 0;
}

.logo-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 60px;
    max-width: 100%;
}

.titulo h1 {
    font-size: 25px;
    text-align: center;
}



.cuerpo {
    font-family: Arial, sans-serif; /* Fuente del cuerpo */
    background-color: #f0f0f0; /* Color de fondo */
    display: flex; /* Flexbox para centrar contenido */
    flex-direction: column; /* Cambiar a columna para apilar elementos */
    align-items: center; /* Centrar horizontalmente */
    
}

.registro-contenedor {
    background-color: white; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    padding: 20px; /* Espaciado interno */
    width: 300px; /* Ancho fijo del contenedor */
    margin-bottom: 20px; /* Espacio inferior para separar del pie de página */
    margin: 200px;
}

.registro-contenedor h2 {
    margin-bottom: 20px; /* Margen inferior del título */
    text-align: center; /* Alinear título al centro */
}

.registro-contenedor label {
    display: block; /* Cada etiqueta en una línea nueva */
    margin: 10px 0 5px; /* Espaciado superior e inferior */
}

.registro-contenedor input {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
}

.registro-contenedor button {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar */
}

.registro-contenedor button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

.registro-contenedor .mensaje {
    text-align: center; /* Alinear texto al centro */
    margin-top: 15px; /* Margen superior */
}

.registro-contenedor .mensaje a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.registro-contenedor .mensaje a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

p{
    margin: 15px;
}
