body {
    font-family: Arial, sans-serif;
    width: 100%;
}

.cabecera {
    width: 100%;
    background-color: #66B257;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    top: 0;
}

.logo-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 60px;
    max-width: 100%;
}

.titulo h1 {
    font-size: 25px;
    text-align: center;
}

.navegacion {
    list-style-type: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
    flex-wrap: wrap;
}

.navegacion li {
    flex: 1;
    min-width: 120px;
    text-align: center;
    border-right: 2px solid #050505;
}

.navegacion li:last-child {
    border-right-width: 0;
}

.navegacion a {
    text-decoration: none;
    color: inherit;
}

.navegacion a:hover, .navegacion li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.dropdown {
    display: none;
    right: 1px;
    position: absolute;
    width: 400%;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
    transition: opacity 0.2s ease, visibility 1s;
    text-align: justify;
}

.navegacion li.usuario:hover .dropdown {
    display: block;
}

.dropdown input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown button {
    width: 100%;
    padding: 8px;
    background-color: #27633E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #1C5F1C;
    transform: scale(1.05);
}

.registro {
    margin-top: 10px;
    font-size: 14px;
}

.registro a {
    color: #090c0e;
    text-decoration: none;
}

.registro a:hover {
    text-decoration: none;
    color: #9d2424;
}

@media (max-width: 1066px) {
    .cabecera {
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 100%;
        justify-content: center;
    }

    .logo {
        padding: 5px;
        display: flex;
        justify-content: center;
    }

    .logo img {
        max-height: 50px;
    }

    .titulo h1 {
        font-size: 15px;
        margin: 0 0 0 10px;
    }

    .navegacion {
        width: 740px;
        flex-direction: row;
        padding: 10px 0;
    }

    .navegacion li {
        width: 120px;
        border-right: 1px solid #050505;
        text-align: center;
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .cabecera, .titulo, .logo {
        width: 100%;
        flex-direction: column;
    }

    .navegacion {
        width: 740px;
        padding: 10px 0;
    }

    .navegacion li {
        width: 120px;
        border-right: 1px solid #050505;
        text-align: center;
        margin-left: 15px;
    }
}

/* Pie de pagina */
.pie-de-pagina {
    background-color: #6E4A0C;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.contenido-pie {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.informacion, .enlaces-utiles, .redes-sociales {
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
}

.pie-de-pagina a {
    color: inherit; /* Mantiene el color actual del texto */
    text-decoration: none; /* Elimina el subrayado */
    cursor: default; /* Cambia el cursor a uno de texto */
}

.pie-de-pagina a:hover {
    text-decoration: none; /* Asegura que el subrayado no aparezca al pasar el ratón */
    color: inherit; /* No cambia el color al pasar el ratón */
}

.enlaces-utiles ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el padding adicional */
    margin: 0; /* Elimina el margen adicional */
}

.enlaces-utiles ul li {
    margin-bottom: 10px; /* Ajusta el valor según la separación que desees */
}


.redes-sociales .iconos {
    display: flex;
    justify-content: center; /* Centra los iconos en el pie de página */
    gap: 15px; /* Espacio entre iconos */
}

.redes-sociales a {
    color: white; /* Color de los iconos */
    font-size: 28px; /* Tamaño de los iconos */
    transition: color 0.3s ease; /* Transición de color */
}

.redes-sociales a:hover {
    color: #f0db4f; /* Color de hover para los iconos */
}

/* Estilos para la sección de suscripción */
.suscripcion {
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

.suscripcion h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #FBF5CB; /* Color para destacar el título */
}

.suscripcion form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suscripcion input[type="email"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #f0db4f; /* Borde del campo de entrada */
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.suscripcion input[type="email"]:focus {
    border-color: #ffffff; /* Cambia el color del borde al hacer clic */
}

.suscripcion button {
    background-color: #f0db4f;
    color: #3c5c3c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.suscripcion button:hover {
    background-color: #d4b830;
    transform: scale(1.05);
}

